@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: linear-gradient(to right top, #f6cfac, #f6bf9e, #f6af95, #f69e8f, #f38d8d, #f48797, #f282a2, #ed7fae, #ea87c4, #e391d9, #d79cec, #c8a7fe);
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
}

@font-face {
    font-family: "Chemre_italic";
    font-weight: auto;
    font-style: normal;
    src: url("/fonts/Chemre_Italic.otf") format("truetype");
}
@font-face {
    font-family: "FuturaPT_Book";
    font-weight: auto;
    font-style: normal;
    src: url("/fonts/FuturaPT-Book.ttf") format("truetype");
}
